<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <title>Discord Members</title>
    </head>
    <body>
        <form action="{{url_for('members.get_member')}}" method="get">
           <a href="{{url_for('members.post_member')}}">NEW MEMBER</a>
            <center><h1>Migus' Members</h1></center>
            <center>
                <table>
                    <tr>
                        <td>Nome</td>
                        <td>Nickname</td>
                        <td>Idade</td>
                    </tr>
            
                    {% for member in members %}
                    <tr>
                        <td>{{member.name}}</td>
                        <td>{{member.nickname}}</td>
                        <td>{{member.age}}</td>
                        <td><a href="{{url_for('members.update_member', id=member.id)}}">UPDATE MEMBER</a></td>
                        <td><form action="{{url_for('members.delete_member', id=member.id)}}" method="post"><input class="btn" type="submit" name="DELETE MEMBER", value="DELETE MEMBER">
                        </form></td>
                    </tr>
                    {% endfor %}

                </table>
            </center>
        </form>
        
        <script type="text/javascript" src="/static/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/jquery-3.7.1.min.js"></script>
    </body>
</html>