

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Discord Members</title>
    </head>
    <body>
        <center><h1>Migus' Members</h1></center>
        <center>
            <table>
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Nickname</td>
                    <td>Idade</td>
                </tr>
        
                {% for member in members %}
                <tr>
                    <td>{{member.id}}</td>
                    <td>{{member.name}}</td>
                    <td>{{member.nickname}}</td>
                    <td>{{member.age}}</td>
                </tr>
                {% endfor %}
            </table>
        </center>
     
    </body>
</html>